@import '../../../styles/colors.module';
@import '../../../styles/mixins.module';

.header {
  height: 80px;
  @include container();
  display: flex;
  align-items: center;
  background-color: mix($color-primary, #fff, 10%);
  position: sticky;
  top: 0;
}

.header-logo {
  font-size: 2.4rem;
  font-weight: 500;
  color: $color-primary;
}

.header-spacer {
  flex-grow: 1;
}
