@import '../../../styles/mixins.module';

.header {
  height: 80px;
  @include container();
  display: flex;
  align-items: center;
  background-color: var(--c-primary-medium-bg);
  position: sticky;
  top: 0;
}

.header-logo {
  font-size: 2.4rem;
  font-weight: 500;
  color: var(--c-primary);
}

.header-spacer {
  flex-grow: 1;
}
