.item {
  border-radius: 12px;
  background-color: var(--c-bg);
  overflow: hidden;
  position: relative;
  min-width: 300px;
}

.header {
  background-color: var(--c-primary-container);
  color: black;
  height: 40px;
  padding: 8px 16px;
  position: relative;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.8rem;

  &--good {
    background-color: var(--c-good);
  }

  &--bad {
    background-color: var(--c-bad);
  }
}

.spacer {
  flex: 1;
}

.body {
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.value {
  font-size: 2.6rem;
}

.date {
  font-size: 1.5rem;
}

.actions {
  button {
    color: black;
  }
}
