.wrapper {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: auto;
  gap: 16px;
}

.image {
  width: 100%;
  top: 0;
  object-fit: cover;
  border-radius: 36px;
  display: flex;
  flex: 1;
  transition: all 400ms ease-in-out;
  object-position: top left;

  &:hover {
    cursor: pointer;
  }
}

.description {
  min-height: 120px;
  margin: 16px 0px 0px;

  .title {
    margin-bottom: 8px;
    font-size: 2.4rem;
    color: #845434;
  }

  .content {
    font-size: 1.8rem;
    color: #7a705d;
  }
}
