@import '../../../styles/colors.module';

.item {
  font-size: 1.4rem;
  line-height: 2rem;
  padding: 14px 20px;
  border: none;
  border-radius: 12px;
  display: flex;
  gap: 18px;
  align-items: center;
  cursor: pointer;
  border-radius: 24px;
  color: black;
  transition: all 400ms ease-in-out;

  span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &:hover {
    color: black;
    background-color: var(--c-primary-medium-bg);
  }

  &--active {
    border-radius: 12px;
    color: black;
    background-color: var(--c-primary-active);

    &:hover,
    &:focus-visible {
      background-color: var(--c-primary);
    }
  }
}
