@import '../../../../styles/colors.module';

.calendar {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 1.2rem;
}

.row {
  display: flex;
  gap: 4px;
}

.cell {
  color: var(--c-text);

  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  transition: all 400ms ease-in-out;
  border: 0;
  background-color: transparent;

  &--clickable {
    &:hover {
      background-color: var(--c-primary-container);
      cursor: pointer;
    }
  }

  &--selected {
    color: var(--c-secondary-text);
    background-color: var(--c-secondary);
    border-radius: 8px;

    &:hover {
      color: var(--c-primary-text);
      background-color: var(--c-primary);
    }
  }

  &--inactive {
    color: #666;
  }
}
