.container {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;

  > div {
    min-width: 200px;
  }
}

.contributors-container {
  --contributors: 2;

  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(var(--contributors), 2em);
  transition: all ease-in-out 400ms;
}

.contributors-container:hover {
  grid-template-columns: repeat(var(--contributors), 3em);
}

.tooltip {
  background-color: var(--c-secondary);
  color: var(--c-secondary-text);
  text-align: center;
  padding: 8px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}
