@import '../../../styles/colors.module.scss';

.link {
  padding: 4px 8px;
  border-radius: 24px;
  transition: all 400ms;

  &:active,
  &:focus,
  &:focus-visible {
    border-radius: 8px;
  }

  @each $name, $color in $colors-map {
    &--#{$name} {
      color: #{$color};

      &:hover,
      &:focus-visible {
        background-color: mix($color, #fff, 15%);
      }
    }
  }
  &--primary {
    color: var(--c-primary);

    &:hover,
    &:focus-visible {
      background-color: var(--c-bg);
    }
  }
}
