@import '../../../styles/colors.module.scss';

.card {
  width: 100%;
  background-color: #fff;
  overflow: hidden;

  &--outlined {
    border: 1px solid #938f99;
  }

  &--elevated {
    box-shadow: 2px 2px 2px rgb(0 0 0 / 42%);
  }

  &--rounded {
    border-radius: 12px;
  }

  @each $name, $color in $colors-map {
    &--color-#{$name}.card--elevated {
      background-color: mix($color, #fff, 6%);
    }

    &--color-#{$name}.card--filled {
      background-color: mix($color, #fff, 14%);
    }
  }
}
