@import '../../styles/colors.module';
@import '../../styles/mixins.module';
@import '../../styles/breakpoints.module';

.layout {
  width: 100%;
  display: flex;
  gap: 16px;
  min-height: calc(100vh - 104px);

  @media (min-width: $breakpoint-md) {
    min-height: calc(100vh - 144px);
  }

  aside {
    @include scrollbar();
    margin: 0px;
    padding: 0px;
    min-width: 176px;
    max-width: 280px;
    flex: 4;

    .headline {
      margin: 0 0 14px 20px;
      font-size: 1.4rem;
      line-height: 1.43;
    }

    .add-button {
      font-size: 1.4rem;
      line-height: 2rem;
      padding: 14px 20px;
      border: none;
      border-radius: 12px;
      display: flex;
      gap: 18px;
      align-items: center;
      cursor: pointer;
      background-color: mix($color-info, #fff, 25%);
      width: calc(100% - 16px);
      color: mix($color-info, #2e2e2e, 10%);
      box-shadow: 0px 3px 6px 2px rgba(0, 0, 0, 15%),
        0px 1px 3px rgba(0, 0, 0, 30%);

      &:hover {
        background-color: mix($color-info, #fff, 35%);
      }

      &:active {
        background-color: mix($color-info, #fff, 40%);
        box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 15%),
          0px 1px 2px rgba(0, 0, 0, 30%);
      }
    }

    .list {
      margin: 16px 0 0 0;
      padding: 0px 8px 0px 0px;
      list-style-type: none;
      max-height: calc(100vh - 244px);
      overflow: auto;
      scrollbar-gutter: stable;
    }
  }

  main {
    flex: 20;
    border-radius: 12px;
    background-color: var(--c-primary-light-bg);
  }
}

.form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 12px;

  .control {
    width: 100%;
  }
}
