@import '../../styles/colors.module';
@import '../../styles/mixins.module';

.layout {
  width: 100%;
  padding: 32px;
  display: flex;
  gap: 16px;
  min-height: calc(100vh - 80px);

  .categories-list-container {
    @include scrollbar();
    margin: 0px;
    padding: 0px;
    min-width: 176px;
    max-width: 280px;
    flex: 4;

    .categories-headline {
      margin: 0 0 14px 20px;
      font-size: 1.4rem;
      line-height: 1.43;
    }

    .categories-list-create-button,
    .categories-list-item {
      font-size: 1.4rem;
      line-height: 2rem;
      padding: 14px 20px;
      border: none;
      border-radius: 12px;
      display: flex;
      gap: 18px;
      align-items: center;
      cursor: pointer;
    }

    .categories-list-create-button {
      background-color: mix($color-info, #fff, 25%);
      width: calc(100% - 16px);
      color: mix($color-info, #2e2e2e, 10%);
      box-shadow: 0px 3px 6px 2px rgba(0, 0, 0, 15%),
        0px 1px 3px rgba(0, 0, 0, 30%);

      &:hover {
        background-color: mix($color-info, #fff, 35%);
      }

      &:active {
        background-color: mix($color-info, #fff, 40%);
        box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 15%),
          0px 1px 2px rgba(0, 0, 0, 30%);
      }
    }

    .categories-list {
      margin: 16px 0 0 0;
      padding: 0px 8px 0px 0px;
      list-style-type: none;
      max-height: calc(100vh - 244px);
      overflow: auto;
      scrollbar-gutter: stable;

      .categories-list-item {
        border-radius: 24px;
        color: mix($color-primary, #3f3f3f, 10%);
        transition: all 400ms ease-in-out;

        span {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        &:hover {
          color: mix($color-primary, #000, 10%);
          background-color: mix($color-primary, #fff, 10%);
        }

        &--active {
          border-radius: 12px;
          color: mix($color-primary, #000, 10%);
          background-color: mix($color-primary, #fff, 40%);

          &:hover,
          &:focus-visible {
            background-color: mix($color-primary, #fff, 50%);
          }
        }
      }
    }
  }

  .category-wrapper {
    flex: 20;
    padding: 24px;
    border-radius: 12px;
    background-color: mix($color-primary, #fff, 3%);
  }
}
