@import '../../../styles/colors.module.scss';

.link {
  padding: 4px 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #3f3f3f;
  transition: scale 200ms ease-in-out;

  &-icon {
    font-size: 2rem;
    height: 20px;
    width: 20px;
    padding: 4px 16px;
    border-radius: 24px;
    transition: all 400ms;
    margin: 0 10px 4px;
  }

  &-text {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6rem;
  }

  &:active,
  &:focus,
  &:focus-visible {
    .link-icon {
      border-radius: 8px;
    }
  }

  &:hover,
  &:focus-visible {
    scale: 1.05;
    color: #000;
  }

  @each $name, $color in $colors-map {
    &--#{$name} {
      &:hover,
      &:focus-visible {
        .link-icon {
          background-color: mix($color, #fff, 30%);
        }
      }

      &.link--active {
        .link-icon {
          background-color: mix($color, #fff, 40%);
          border-radius: 8px;
        }

        .link-text {
          color: mix($color, #000, 50%);
        }

        &:hover,
        &:focus-visible {
          .link-icon {
            background-color: mix($color, #fff, 50%);
          }
        }
      }
    }
  }
  &--primary {
    &:hover,
    &:focus-visible {
      .link-icon {
        background-color: var(--c-primary-dark-bg);
      }
    }

    &.link--active {
      .link-icon {
        background-color: var(--c-primary-light-bg);
        border-radius: 8px;
      }

      .link-text {
        color: var(--c-primary-dark);
      }

      &:hover,
      &:focus-visible {
        .link-icon {
          background-color: var(--c-primary);
        }
      }
    }
  }
}
