.link {
  padding: 4px 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--c-primary-container-text);
  transition: scale 200ms ease-in-out;

  &-icon {
    font-size: 2rem;
    height: 20px;
    width: 20px;
    padding: 4px 16px;
    border-radius: 24px;
    transition: all 400ms;
    margin: 0 10px 4px;
  }

  &-text {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6rem;
  }

  &:active,
  &:focus,
  &:focus-visible {
    .link-icon {
      border-radius: 8px;
    }
  }

  &:hover,
  &:focus-visible {
    scale: 1.05;
    color: #000;
  }

  &--primary {
    &:hover,
    &:focus-visible {
      .link-icon {
        color: var(--c-secondary-text);
        background-color: var(--c-secondary);
      }

      .link-text {
        color: var(--c-primary-container-text);
      }
    }

    &.link--active {
      .link-icon {
        color: var(--c-secondary-container-text);
        background-color: var(--c-secondary-container);
        border-radius: 8px;
      }

      &:hover,
      &:focus-visible {
        .link-icon {
          color: var(--c-primary-text);
          background-color: var(--c-primary);
        }
      }
    }
  }
}
