@import '../../../styles/mixins.module';

.container {
  @include scrollbar();
}

.chart {
  display: flex;
  gap: 24px;
  overflow: auto;

  .day {
    min-width: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 16px 0 0;

    &__number {
      font-weight: bold;
    }

    &__track {
      height: 300px;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 16px 0 0;
    }

    &__bar {
      position: absolute;
      bottom: 0;
      width: 48px;
      background-color: var(--c-primary-container);
      color: var(--c-primary-container-text);
      border-radius: 24px;
      padding: 8px;
      min-height: 48px;
      line-height: 1;
      display: grid;
      place-items: center;

      span {
        white-space: nowrap;
      }
    }
  }
}
