@import '../../../styles/mixins.module';

.container {
  position: relative;
}

.selector-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  padding: 0;
  font-size: 1.6rem;
  padding: 12px;
  border-radius: 24px;
  color: var(--c-primary-unfocused);
  border: 1px solid var(--c-primary-unfocused);
  transition: all 200ms ease-in-out;

  &--focued {
    color: var(--c-text-light);
    border-radius: 8px;
    border: 1px solid var(--c-primary);
  }

  &:hover {
    cursor: pointer;
  }
}

.date-picker-wrapper {
  @include scrollbar();

  position: absolute;
  bottom: 48px;
  left: 0px;
  z-index: 2;
  padding: 8px;
  background-color: var(--c-primary-light-bg);
  border-radius: 8px;
  box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 15%), 0px 1px 3px rgba(0, 0, 0, 30%);
}
