@import '../../../styles/mixins.module';

.container {
  position: relative;
}

.selector-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  padding: 0;
  font-size: 1.6rem;
  padding: 12px;
  border-radius: 24px;
  color: var(--c-unfocused);
  border: 1px solid var(--c-unfocused);
  transition: all 200ms ease-in-out;

  &--focued {
    color: var(--c-text-light);
    border-radius: 8px;
    border: 1px solid var(--c-primary);
  }

  &:hover {
    cursor: pointer;
  }
}

.date-picker-wrapper {
  @include scrollbar();

  z-index: 2;
  padding: 8px;
  background-color: var(--c-bg);
  border-radius: 8px;
  box-shadow: var(--e-3);
  display: flex;
  flex-direction: column;
  gap: 24px;

  &.top {
    bottom: 56px;
    left: 0px;
  }

  &.bottom {
    top: 56px;
    left: 0px;
  }
}
