@import '../../styles/mixins.module';

.timeline-wrapper {
  @include scrollbar();
}

.timeline {
  width: 100%;
  overflow-x: auto;
}

.container {
  display: inline-flex;
}

.day-container {
  width: 1200px;

  .day-name {
    position: sticky;
    left: 0px;
  }
}

.hour-container {
  display: flex;

  .hour {
    flex: 1;
    border-left: 1px solid var(--c-outline);
    padding-left: 4px;
    min-height: 200px;
  }
}
