@import '../../styles/mixins.module';

.timeline-wrapper {
  @include scrollbar();
}

.timeline {
  width: 100%;
  overflow-x: auto;
}

.container {
  display: inline-flex;
}

.day-container {
  width: 2880px;

  .day-name {
    position: sticky;
    left: 0px;
    font-size: 2rem;
  }
}

.hours-container {
  display: flex;
  position: relative;

  .hour {
    flex: 1;
    color: var(--c-unfocused);
    border-left: 1px solid var(--c-outline);
    padding-left: 4px;
    min-height: 320px;
  }

  .current-time {
    position: absolute;
    min-height: 320px;
    border-left: 1px solid var(--c-primary);
  }

  .activity {
    position: absolute;
    padding: 8px;
    border-radius: 999px;
    border: 1px solid var(--c-outline);
    color: var(--c-secondary-text);
    background-color: var(--c-secondary);
    min-width: 120px;
  }
}
