@import '../../styles/mixins.module';

.timeline-wrapper {
  @include scrollbar();
}

.timeline {
  width: 100%;
  overflow-x: auto;
}

.container {
  display: inline-flex;
}

.day-container {
  width: 2880px;

  .day-name {
    position: sticky;
    left: 0px;
  }
}

.hour-container {
  display: flex;
  position: relative;

  .hour {
    flex: 1;
    border-left: 1px solid var(--c-outline);
    padding-left: 4px;
    min-height: 320px;
  }

  .activity {
    position: absolute;
    padding: 8px;
    border-radius: 999px;
    background-color: var(--c-primary);
    color: var(--c-primary-text);
    min-width: 120px;
  }
}
