@import '../../../styles/breakpoints.module.scss';

.container {
  background-color: var(--c-primary-light-bg);
  padding: 12px;
  @media (min-width: $breakpoint-md) {
    padding: 32px;
  }
}
.summary {
  background-color: white;
  padding: 16px;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.user-info {
  margin-left: 16px;
  span {
    display: block;
  }
}
.avatar {
  border-radius: 50%;
}
.tab {
  padding: 16px;
  background-color: white;
}
