@import '../../../styles/breakpoints.module.scss';

.summary {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.user-info {
  margin-left: 16px;
  span {
    display: block;
  }
}
.avatar {
  border-radius: 50%;
}
.tab {
  padding: 16px;
  background-color: white;
  border-radius: 16px;
}
