.wrapper {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  min-width: 0px;
  padding: 0px;
  margin: 0px;
  border: 0px;
  vertical-align: top;

  label {
    position: absolute;
    top: 0px;
    left: 0px;
    transition: transform 200ms ease-in-out;
    font-size: 1.6rem;
    transform: translate(16px, 9px) scale(1);
    white-space: nowrap;
    overflow: hidden;
    z-index: 1;
    color: var(--c-primary-unfocused);
    transform-origin: left top;
  }

  .input__container {
    position: relative;
    display: inline-flex;
    align-items: center;
    border-radius: 24px;
    cursor: text;
    transition: all 400ms ease-in-out;

    input {
      width: 100%;
      font-size: 1.6rem;
      display: block;
      color: black;
      border: 0px;
      margin: 0px;
      padding: 12px 16px;
      background: transparent;

      &:focus,
      &:focus-visible {
        outline: 0px;
      }
    }

    fieldset {
      position: absolute;
      border-radius: inherit;
      border: 1px solid var(--c-primary-unfocused);
      inset: -5px 0 0;
      pointer-events: none;
      margin: 0px;
      padding: 0px 16px;

      legend {
        font-size: 1.28rem;
        padding: 0px;
        visibility: hidden;
        white-space: nowrap;
        max-width: 0.01px;
        transition: all 200ms ease-in-out;
      }
    }
  }

  &--focused,
  &--touched {
    label {
      transform: translate(19px, -6px) scale(0.8);
    }

    .input__container {
      border-radius: 8px;

      fieldset {
        legend {
          padding: 0px 2px;
          visibility: hidden;
          max-width: 100%;
        }
      }
    }
  }

  &--focused {
    label {
      color: var(--c-primary);
    }

    .input__container {
      fieldset {
        border: 1px solid var(--c-primary);
      }
    }
  }
}
.options-wrapper {
  position: relative;
  z-index: 2;
}
.options {
  width: 100%;
  position: absolute;
  display: none;
  border: 1px solid var(--c-primary);
  border-radius: 8px;
  margin-top: 4px;
  overflow: hidden;
  &--visible {
    display: block;
  }
}

.option {
  font-size: 1.6rem;
  padding: 12px 16px;
  background-color: var(--c-primary-light-bg);
  &:not(:last-child) {
    border-bottom: 1px dashed var(--c-primary-dark-bg);
  }

  &:hover {
    background-color: var(--c-primary-medium-bg);
    cursor: pointer;
  }
}
