@import '../../styles/breakpoints.module.scss';

$calendarMainColor: var(--c-primary-medium-bg);
.calendar {
  border-radius: 24px;
  background-color: white;
  border: 1px solid $calendarMainColor;
  overflow: hidden;
}
.header {
  padding: 16px;
  background-color: $calendarMainColor;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  font-weight: bold;
}
.header__controls {
  display: flex;
  align-items: center;
}
.header__control {
  padding: 8px 16px;
  cursor: pointer;
  border: none;
  background: none;
  border-radius: 8px;
  &:hover {
    background-color: var(--c-primary-light-bg);
  }
}

.weekday {
  padding: 16px;
  text-align: center;
  font-size: 14px;
  color: var(--c-primary-dark);
  font-weight: bold;
  border: 1px solid $calendarMainColor;
}
.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  overflow: auto;
}
.days__day {
  padding: 16px;
  text-align: center;
  font-size: 14px;
  color: black;
  border: 1px solid $calendarMainColor;
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 80px;
  position: relative;
  transition: all 300ms;

  &:not(.days__day--inactive):hover {
    background-color: var(--c-primary-light-bg);
  }
}
.days__day--inactive {
  background-color: var(--c-primary-dark-bg);
  cursor: default;
}
.days__day--compact {
  .day-activity__description {
    display: none;
  }
}
.day-activity {
  border-radius: 12px;
  background-color: var(--c-primary-medium-bg);
  &--good {
    background-color: var(--c-good);
  }
  &--bad {
    background-color: var(--c-bad);
  }
  padding: 4px 8px;
  transition: all 300ms;
  cursor: pointer;

  &:hover {
    background-color: var(--c-primary-dark-bg);
  }
}
.day-activity__description {
  display: none;
  @media (min-width: $breakpoint-md) {
    display: inline;
  }
}
.day-nr {
  font-size: 14px;
  font-weight: bold;
  color: var(--c-primary-dark-bg);
  position: absolute;
  top: 0;
  left: 0;
}
