@import '../../styles/breakpoints.module.scss';

$calendarMainColor: var(--c-primary-container);

.calendar {
  border-radius: 24px;
  background-color: var(--c-surface);
  border: 1px solid $calendarMainColor;
  overflow: hidden;
}

.header {
  padding: 16px;
  background-color: $calendarMainColor;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--c-primary-container-text);
  font-weight: bold;
}

.header__controls {
  display: flex;
  align-items: center;
}

.header__control {
  color: var(--c-primary-container-text);
  padding: 0px 16px;
  @media (min-width: $breakpoint-md) {
    padding: 8px 16px;
  }
  cursor: pointer;
  border: none;
  background: none;
  border-radius: 8px;
  font-size: 2rem;

  &:hover {
    color: var(--c-text);
    background-color: var(--c-bg);
  }
}

.weekday {
  padding: 10px;
  @media (min-width: $breakpoint-md) {
    padding: 16px;
  }
  text-align: center;
  font-size: 14px;
  color: var(--c-secondary);
  font-weight: bold;
  border: 1px solid $calendarMainColor;
}
.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  overflow: auto;
}

.days__day {
  padding: 12px 6px;
  font-size: 8px;
  @media (min-width: $breakpoint-md) {
    padding: 16px;
    font-size: 14px;
  }
  text-align: center;
  color: black;
  border: 1px solid $calendarMainColor;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  @media (min-width: $breakpoint-md) {
    flex-direction: row;
  }
  min-height: 80px;
  position: relative;
  transition: all 300ms;
}

.days__day--inactive {
  background-color: var(--c-bg);
  cursor: default;
}

.days__day--compact {
  .day-activity__description {
    display: none;
  }
}

.day-activity {
  position: relative;
  border-radius: 999px;
  padding: 4px;
  width: 32px;
  height: 32px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--c-primary-container);
  outline-offset: 0px;
  outline: 2px solid transparent;

  &--good {
    background-color: var(--c-good-saturated);

    &:hover {
      outline-offset: 2px;
      outline: 2px solid var(--c-good-saturated);
    }
  }
  &--bad {
    background-color: var(--c-bad-saturated);

    &:hover {
      outline-offset: 2px;
      outline: 2px solid var(--c-bad-saturated);
    }
  }

  transition: all 200ms ease-in-out;
  cursor: pointer;
}

.day-activity__description {
  display: none;
  @media (min-width: $breakpoint-md) {
    display: inline;
  }
}

.day-nr {
  font-size: 1.2rem;
  @media (min-width: $breakpoint-md) {
    font-size: 1.4rem;
  }
  font-weight: bold;
  color: var(--c-secondary);
  position: absolute;
  top: 0;
  left: 0;
}

.activity-dialog {
  .icon-container {
    display: flex;
    justify-content: center;

    .icon {
      width: 56px;
      height: 56px;
      color: var(--c-primary);
    }
  }

  .info-container {
    padding: 16px;
    margin: 16px 0 0;
    border-radius: 24px;
    color: var(--c-primary-text);
    background-color: var(--c-primary);
  }
}
