@import '../../styles/mixins.module';

.container {
  display: flex;
  justify-content: center;
}

.dailies {
  display: flex;
  gap: 12px;
  @media (min-width: $breakpoint-md) {
    gap: 24px;
  }
  overflow: auto;
  padding-block: 24px;
}
