@import '/styles/mixins.module.scss';
@import '/styles/colors.module.scss';
@import '/styles/breakpoints.module.scss';

@property --blob-colors {
  syntax: '<color>+';
  initial-value: black white;
  inherits: true;
}

@property --blob-count {
  syntax: '<integer>';
  initial-value: 30;
  inherits: true;
}

.blobs {
  background-color: #8c6443;
  --blob-colors: #f3c889 #c38f59 #d4a065 #d0995f #9f6a3a #b07543 #b38058 #7e4623
    #af7342 #bb814c #fecc81;
  background-image: url('../public/backgrounds/bg-blobs.svg');
  background-size: cover;
  background-position: center;
  @supports (background: paint(blobs)) {
    background-image: paint(blobs);
  }
}

.background-image {
  z-index: -1;
  object-fit: cover;
}

.container {
  @include container();
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .image-tea {
    transform: translate(-25px, 15px);
    filter: drop-shadow(0px 24px 10px #0000009f);
    max-width: 100%;
    height: auto;
    display: none;

    @media (min-width: $breakpoint-lg) {
      display: block;
    }
  }
}

.card {
  background-color: #fef2d2;
  max-width: 560px;
  border-radius: 24px;
  padding: 32px;
  filter: drop-shadow(0px 24px 10px #0000009f);

  .title {
    margin: 0px 0px 40px;
    font-size: 2.4rem;
    color: #8d4d39;
  }

  .subtitle {
    margin: 0px 0px 40px;
    font-size: 3.2rem;
    color: #8d4d39;
  }

  .main-action {
    width: 100%;
    color: #fffaee;
    border-radius: 24px;
    border: 1px solid #cf7f53;
    background-color: #cf7f53;
    transition: all 400ms;
    font-size: 2.4rem;
    padding: 8px;
    margin: 24px 0 0 0;

    &:hover {
      background-color: #995f3f;
      cursor: pointer;
    }
  }
}
