@import '/styles/mixins.module.scss';
@import '/styles/colors.module.scss';
@import '/styles/breakpoints.module.scss';

$color-emph: $color-warning;
.background-image {
  z-index: -1;

  object-fit: cover;
}
.hero {
  @include container();
  height: 100vh;
  position: relative;
  background-image: linear-gradient(339deg, #ff6a00b5, #8eea0c29);
}
.hello {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  text-align: center;
  @media (min-width: $breakpoint-md) {
    max-width: 640px;
    top: 22%;
    left: 12%;
    text-align: left;
  }
  @media (min-width: $breakpoint-lg) {
    height: auto;
    position: absolute;
  }
}

.title {
  font-size: 42px;
}
.subtitle {
  font-size: 32px;
  text-decoration: underline;
  text-decoration-color: $color-emph;
}
.quote {
  font-size: 19px;
  font-style: italic;
  margin-bottom: 24px;
  font-family: 'Cantarell', sans-serif;
  font-weight: 600;
  text-shadow: 2px 2px $color-emph;
}
@media (min-width: $breakpoint-md) {
  .title {
    font-size: 66px;
  }
  .subtitle {
    font-size: 42px;
  }
  .quote {
    font-size: 22px;
  }
}

.cta {
  margin-top: 12px;
  border: 2px solid $color-emph;
  background-color: $color-emph;
  color: white;
  transition: all 400ms;
  font-size: 32px;
  &:hover {
    background-color: black;
    text-shadow: 2px 2px $color-emph;

    cursor: pointer;
  }
  // animation: shine 4s ease-in-out infinite;
}
