@import '../../styles/breakpoints.module.scss';

.layout {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: var(--c-bg);
  overflow-x: hidden;
  overflow-y: auto;
}
.main {
  padding: 8px;
  @media (min-width: $breakpoint-md) {
    padding: 32px;
  }
}
