@import '../../styles/mixins.module';

.layout {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: var(--c-primary-dark-bg);
  overflow-x: hidden;
  overflow-y: auto;
}
.main {
  @include container();
}
