@import '../../../../styles/colors.module.scss';
@import '../../../../styles/mixins.module.scss';

.header {
  height: 80px;
  width: 100%;
  background-color: var(--c-primary-light-bg);
  display: flex;
  align-items: center;
  @include px();

  gap: 16px;

  .icon {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    background-color: var(--c-text-dark);
    border-radius: 9999px;
  }

  .heading {
    flex-grow: 1;
    overflow: hidden;
  }

  .title {
    @include scrollbar();

    display: flex;
    gap: 16px;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;

    h1 {
      display: inline-block;
      margin: 0px;
      font-style: normal;
      font-weight: 400;
      font-size: 2rem;
      white-space: nowrap;
      overflow: auto;
    }
  }

  .subtitle {
    font-size: 1.2rem;
    font-weight: 400;
    color: $color-inactive;
  }
}

.main {
  padding: 16px 16px 16px 72px;
}
