.nav {
  padding: 0 40px;
}

.nav,
.nav-desktop {
  height: 80px;
}

.nav-desktop {
  display: flex;
  align-items: center;
  gap: 24px;
  animation: fade 300ms ease-in-out;
}

.nav-mobile {
  padding: 23px 0 0;
  animation: fade 300ms ease-in-out;
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.nav-avatar {
  border-radius: 9999px;
}
