@import '../../../styles/colors.module.scss';

.chip {
  max-width: 360px;
  padding: 4px 8px;
  font-size: 1.2rem;
  height: 27px;
  letter-spacing: 0.15rem;
  border-radius: 8px;
  display: inline-block;

  &--clickable {
    cursor: pointer;
  }

  .chip-icon {
    width: 12px;
  }

  span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  @each $name, $color in $colors-map {
    &--#{$name}.chip--outlined {
      color: mix($color, #000, 30%);
      outline: 1px solid mix($color, #2e2e2e, 40%);
    }

    &--#{$name}.chip--filled {
      color: #fff;
      background-color: $color;
    }
  }

  &--primary.chip {
    &--outlined {
      color: var(--c-primary);
      outline: 1px solid var(--c-primary);
    }

    &--filled {
      color: var(--c-primary-text);
      background-color: var(--c-primary);
    }
  }

  &--primary-alt.chip {
    &--outlined {
      color: var(--c-primary-container-text);
      outline: 1px solid var(--c-primary-container-text);
    }

    &--filled {
      background-color: var(--c-primary-container-text);
      color: var(--c-primary-container);
    }
  }

  &--secondary.chip {
    &--outlined {
      color: var(--c-secondary);
      outline: 1px solid var(--c-secondary);
    }

    &--filled {
      color: var(--c-secondary-text);
      background-color: var(--c-secondary);
    }
  }

  &--secondary-alt.chip {
    &--outlined {
      color: var(--c-secondary-container-text);
      outline: 1px solid var(--c-secondary-container-text);
    }

    &--filled {
      background-color: var(--c-secondary-container-text);
      color: var(--c-secondary-container);
    }
  }

  &--tertiary.chip {
    &--outlined {
      color: var(--c-unfocused);
      outline: 1px solid var(--c-unfocused);
    }

    &--filled {
      color: var(--c-surface);
      background-color: var(--c-unfocused);
    }
  }

  &--default.chip {
    &--outlined {
      color: var(--c-text);
      outline: 1px solid var(--c-text);
    }

    &--filled {
      background-color: var(--c-text);
      color: var(--c-bg);
    }
  }

  &--light.chip {
    &--outlined {
      color: white;
      outline: 1px solid white;
    }

    &--filled {
      background-color: white;
      color: black;
    }
  }

  &--dark.chip {
    &--outlined {
      color: black;
      outline: 1px solid black;
    }

    &--filled {
      background-color: black;
      color: white;
    }
  }
}
