@import '../../../styles/colors.module.scss';

.chip {
  max-width: 360px;
  padding: 6px 8px;
  font-size: 1rem;
  height: 27px;
  letter-spacing: 0.15rem;
  border-radius: 8px;
  display: inline-block;

  .chip-icon {
    width: 12px;
  }

  span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  @each $name, $color in $colors-map {
    &--#{$name}.chip--outlined {
      color: mix($color, #000, 30%);
      outline: 1px solid mix($color, #2e2e2e, 40%);
    }

    &--#{$name}.chip--filled {
      color: #fff;
      background-color: $color;
    }
  }
  &--primary {
    color: var(--c-primary-dark);
    outline: 1px solid var(--c-primary-dark-bg);
  }
}
