@import '../../../styles/mixins.module.scss';

.heatmap {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(7, 1fr);
  justify-content: start;
  gap: 1px;
  width: max-content;
}
.heatmap-container {
  overflow-x: auto;
}
.heatmap-container-container {
  @include scrollbar();
}

.item-wrapper {
  border: 1px solid var(--c-primary);
  border-radius: 8px;
  overflow: hidden;
}

.item {
  width: 24px;
  height: 24px;
  background-color: transparent;
}

.fill {
  width: 100%;
  height: 100%;
  &--good {
    background-color: var(--c-good);
  }
  &--bad {
    background-color: var(--c-bad);
  }
  &--empty {
    background-color: #ddd;
  }
}

.tooltip {
  visibility: hidden;
  width: 120px;
  background-color: var(--c-secondary);
  color: var(--c-secondary-text);
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  position: absolute;
  z-index: 1;

  .item:hover & {
    visibility: visible;
  }
}
.header {
  display: flex;
  justify-content: space-between;
}
.header__controls {
  display: flex;
  align-items: center;
}
.header__control {
  padding: 8px 16px;
  cursor: pointer;
  border: none;
  background: none;
  border-radius: 8px;
  &:hover {
    background-color: var(--c-bg);
  }
}
