.heatmap {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(7, 1fr);
  justify-content: start;
  gap: 4px;
}

.item-wrapper {
  border: 2px solid var(--c-primary-dark-bg);
  border-radius: 8px;
  overflow: hidden;
}

.item {
  width: 42px;
  height: 42px;
  background-color: var(--c-primary);
  &--good {
    background-color: var(--c-good);
  }
  &--bad {
    background-color: var(--c-bad);
  }
  &--empty {
    background-color: #ddd;
  }
}
