@import '../../../styles/mixins.module.scss';

.heatmap {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(7, 1fr);
  justify-content: start;
  gap: 8px;
  width: max-content;
  padding-block: 8px;
}
.heatmap-months {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: 1fr;
  justify-content: start;
  gap: 8px;
  width: max-content;
  padding-top: 8px;
}
.heatmap-month {
  width: 116px;
  height: 24px;
}
.heatmap-container {
  overflow-x: auto;
}
.heatmap-container-container {
  @include scrollbar();
}

.item-wrapper {
  background-color: var(--c-bg);
  border-radius: 4px;
  overflow: hidden;
  &--invisible {
    background-color: transparent;
  }
}

.item {
  width: 20px;
  height: 20px;
  background-color: transparent;
}

.fill {
  width: 100%;
  height: 100%;
  &--good {
    background-color: var(--c-primary-container);
    &.fill--goal {
      border: 4px solid var(--c-good-saturated);
    }
  }

  &--bad {
    background-color: var(--c-primary-container);
    border: 4px solid var(--c-bad-saturated);
    &.fill--goal {
      border: none;
    }
  }

  &--empty {
    background-color: #ddd;
  }
}

.tooltip {
  display: none;
  background-color: var(--c-secondary);
  color: var(--c-secondary-text);
  text-align: center;
  padding: 8px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;

  .item:hover & {
    display: block;
  }
}

.header {
  display: flex;
  justify-content: space-between;
}

.header__controls {
  display: flex;
  align-items: center;
}
