$color-primary: #59644b;
$color-danger: indianred;
$color-warning: orange;
$color-info: dodgerblue;
$color-success: limegreen;
$color-default: black;

:export {
  primary: $color-primary;
  danger: $color-danger;
  warning: $color-warning;
  info: $color-info;
  success: $color-success;
  default: $color-default;
}
