$color-danger: #ff6961;
$color-warning: #ffbb01;
$color-info: #779dca;
$color-success: #75a561;

$colors-map: (
  'danger': $color-danger,
  'info': $color-info,
  'success': $color-success,
  'warning': $color-warning,
);

:export {
  danger: $color-danger;
  warning: $color-warning;
  info: $color-info;
  success: $color-success;
}
