$color-primary: #be5c07;
$color-danger: #ff6961;
$color-warning: #ffbb01;
$color-info: #779dca;
$color-success: #75a561;
$color-default: #000;
$color-inactive: #79747e;
$color-disabled: #e3dfe3;
$color-disabled-text: #989598;

$colors-map: (
  // 'primary': $color-primary,
  'danger': $color-danger,
  'info': $color-info,
  'success': $color-success,
  'warning': $color-warning,
  'default': $color-default
);

:export {
  primary: $color-primary;
  danger: $color-danger;
  warning: $color-warning;
  info: $color-info;
  success: $color-success;
  default: $color-default;
}
