body {
  --c-text-light: #000;
  --c-text-dark: #fff;
  --c-primary: #be5c07;
  --c-primary-active: #e5be9c;
  --c-primary-unfocused: #555049;
  --c-primary-dark-bg: #e3dfdc;
  --c-primary-medium-bg: #f9efe6;
  --c-primary-light-bg: #fdfaf8;
  --c-primary-dark: rgb(60, 51, 42);

  &.coffee {
    --c-primary: #653d2f;
    --c-primary-active: #e5c19c;
    --c-primary-dark-bg: #e3e3e3;
    --c-primary-medium-bg: #c4b2a8;
    --c-primary-light-bg: #fffdfc;
    --c-primary-dark: rgb(50, 23, 4);
  }

  &.milky {
    --c-primary: #997f56;
    --c-primary-active: #e5c19c;
    --c-primary-dark-bg: #e3e3e3;
    --c-primary-medium-bg: #ffe9c5;
    --c-primary-light-bg: #fffdfc;
    --c-primary-dark: #766850;
  }

  &.kale {
    --c-primary: #47bd08;
    --c-primary-active: #b4e59c;
    --c-primary-dark-bg: #dfe3dc;
    --c-primary-medium-bg: #eff9e6;
    --c-primary-light-bg: #fbfdf8;
    --c-primary-dark: rgb(47, 60, 42);
  }

  &.mint {
    --c-primary: #14c3de;
    --c-primary-active: #9cdce5;
    --c-primary-dark-bg: #cddbe3;
    --c-primary-medium-bg: #d1effb;
    --c-primary-light-bg: #f9feff;
    --c-primary-dark: rgb(42 51 60);
  }

  &.raspberry {
    --c-primary: #1c5575;
    --c-primary-active: #9cc4e5;
    --c-primary-unfocused: #494a55;
    --c-primary-dark-bg: #bbc6d1;
    --c-primary-medium-bg: #d1e3fb;
    --c-primary-light-bg: #f9fcff;
    --c-primary-dark: rgb(42, 48, 60);
  }

  &.blackberry {
    --c-primary: #a160dd;
    --c-primary-active: #bc9ce5;
    --c-primary-dark-bg: #d9cee2;
    --c-primary-medium-bg: #efe6f9;
    --c-primary-light-bg: #fbf8fd;
    --c-primary-dark: rgb(50, 42, 60);
  }

  &.pinku {
    --c-primary: #de14ca;
    --c-primary-active: #e59cda;
    --c-primary-dark-bg: #e3dce3;
    --c-primary-medium-bg: #f9e6f8;
    --c-primary-light-bg: #fcf8fd;
    --c-primary-dark: rgb(60, 42, 58);
  }

  &.beetroot {
    --c-primary: #d65a5a;
    --c-primary-active: #e59c9c;
    --c-primary-dark-bg: #e2cece;
    --c-primary-medium-bg: #f9e6e6;
    --c-primary-light-bg: #fdf8f8;
    --c-primary-dark: rgb(60, 42, 42);
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Poppins, sans-serif;
  font-size: 10px;
}

body {
  font-size: 1.4rem;
  line-height: 1.43;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

// @media (prefers-color-scheme: dark) {
//   html {
//     color-scheme: dark;
//   }
//   body {
//     color: white;
//     background: black;
//   }
// }
