@import './themes.scss';

html,
body {
  padding: 0;
  margin: 0;
  font-family: Poppins, sans-serif;
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-size: 1.4rem;
  line-height: 1.43;
  color: var(--c-text);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
