@import 'colors.module';
@import 'breakpoints.module';

@mixin scrollbar() {
  /* Width */
  ::-webkit-scrollbar {
    width: 8px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--c-primary-light-bg);
    border-radius: 8px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--c-primary);
    border-radius: 8px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--c-primary-dark);
  }
}

@mixin container() {
  padding: 12px;
  @media (min-width: $breakpoint-md) {
    padding: 32px;
  }
}
