@import 'colors.module';
@import 'breakpoints.module';

@mixin scrollbar() {
  /* Width */
  ::-webkit-scrollbar {
    width: 8px;
    height: 4px; // for horizontal scrollbar
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--c-bg);
    border-radius: 8px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--c-primary);
    border-radius: 8px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--c-secondary);
  }
}

@mixin container($paddingMobile: 12px) {
  padding: $paddingMobile;
  @media (min-width: $breakpoint-md) {
    padding: 32px;
  }
}

@mixin px($paddingMobile: 12px) {
  padding-inline: $paddingMobile;
  @media (min-width: $breakpoint-md) {
    padding-inline: 16px;
  }
}

@mixin activity-items() {
  display: flex;
  gap: 12px;
  @media (min-width: $breakpoint-md) {
    gap: 24px;
  }
  overflow: auto;
  padding-block: 24px;
}
