body {
  --c-primary: #984700;
  --c-primary-text: #ffffff;
  --c-primary-container: #ffdbc8;
  --c-primary-container-text: #321300;

  --c-secondary: #755847;
  --c-secondary-text: #ffffff;
  --c-secondary-container: #ffdbc8;
  --c-secondary-container-text: #2b1709;

  --c-tertiary: #616133;
  --c-tertiary-text: #ffffff;
  --c-tertiary-container: #e8e5ac;
  --c-tertiary-container-text: #1d1d00;

  --c-bg: #faf1f2;
  --c-surface: #ffffff;
  --c-text: #201a17;
  --c-outline: #85746b;
  --c-unfocused: #52443c;

  --c-good: #d6eeca;
  --c-bad: #e79b9b;

  --e-1: 0px 1px 2px 0px #0000004d, 0px 1px 3px 1px #00000026;
  --e-2: 0px 1px 2px 0px #0000004d, 0px 2px 6px 2px #00000026;
  --e-3: 0px 4px 8px 3px #00000026, 0px 1px 3px 0px #0000004d;

  &.coffee {
    --c-primary: #ffb784;
    --c-primary-text: #4f2500;
    --c-primary-container: #634224;
    --c-primary-container-text: #ffdcc6;

    --c-secondary: #e4bfa8;
    --c-secondary-text: #422b1b;
    --c-secondary-container: #5b412f;
    --c-secondary-container-text: #ffdcc6;

    --c-tertiary: #c8ca94;
    --c-tertiary-text: #30330b;
    --c-tertiary-container: #47491f;
    --c-tertiary-container-text: #e5e6ae;

    --c-bg: #2b231d;
    --c-surface: #171513;
    --c-text: #ece0da;
    --c-outline: #9f8d83;
    --c-unfocused: #d7c3b7;
  }

  &.milky {
    --c-primary: #7e5700;
    --c-primary-text: #ffffff;
    --c-primary-container: #ffdeac;
    --c-primary-container-text: #281900;

    --c-secondary: #6e5c40;
    --c-secondary-text: #ffffff;
    --c-secondary-container: #f8dfbb;
    --c-secondary-container-text: #261904;

    --c-tertiary: #4e6542;
    --c-tertiary-text: #ffffff;
    --c-tertiary-container: #d0eabf;
    --c-tertiary-container-text: #0d2005;

    --c-bg: #f8f2f2;
    --c-surface: #ffffff;
    --c-text: #1f1b16;
    --c-outline: #807567;
    --c-unfocused: #4e4539;
  }

  &.matcha {
    --c-primary: #c1d03d;
    --c-primary-text: #2e3300;
    --c-primary-container: #444b00;
    --c-primary-container-text: #dded57;

    --c-secondary: #c7c9a6;
    --c-secondary-text: #30321a;
    --c-secondary-container: #46492e;
    --c-secondary-container-text: #e3e5c1;

    --c-tertiary: #a2d0c1;
    --c-tertiary-text: #07372d;
    --c-tertiary-container: #234e43;
    --c-tertiary-container-text: #beecdd;

    --c-bg: #1c1c17;
    --c-surface: #21221c;
    --c-text: #e5e2da;
    --c-outline: #929282;
    --c-unfocused: #c8c7b7;
  }

  &.kale {
    --c-primary: #48680e;
    --c-primary-text: #ffffff;
    --c-primary-container: #c8f088;
    --c-primary-container-text: #121f00;

    --c-secondary: #596248;
    --c-secondary-text: #ffffff;
    --c-secondary-container: #dde6c6;
    --c-secondary-container-text: #161e0a;

    --c-tertiary: #396661;
    --c-tertiary-text: #ffffff;
    --c-tertiary-container: #bcece6;
    --c-tertiary-container-text: #00201d;

    --c-bg: #f5f3f2;
    --c-surface: #ffffff;
    --c-text: #1b1c18;
    --c-outline: #75786c;
    --c-unfocused: #45483d;
  }

  &.mint {
    --c-primary: #006876;
    --c-primary-text: #ffffff;
    --c-primary-container: #9fefff;
    --c-primary-container-text: #001f24;

    --c-secondary: #4a6267;
    --c-secondary-text: #ffffff;
    --c-secondary-container: #cde7ed;
    --c-secondary-container-text: #051f23;

    --c-tertiary: #535d7e;
    --c-tertiary-text: #ffffff;
    --c-tertiary-container: #dbe1ff;
    --c-tertiary-container-text: #101a37;

    --c-bg: #f2f3f8;
    --c-surface: #ffffff;
    --c-text: #191c1d;
    --c-outline: #6f797b;
    --c-unfocused: #3f484a;
  }

  &.raspberry {
    --c-primary: #006590;
    --c-primary-text: #ffffff;
    --c-primary-container: #c8e6ff;
    --c-primary-container-text: #001e2e;

    --c-secondary: #4f606e;
    --c-secondary-text: #ffffff;
    --c-secondary-container: #d2e5f5;
    --c-secondary-container-text: #0b1d29;

    --c-tertiary: #63597c;
    --c-tertiary-text: #ffffff;
    --c-tertiary-container: #e9ddff;
    --c-tertiary-container-text: #1f1635;

    --c-bg: #f2f3f9;
    --c-surface: #ffffff;
    --c-text: #1d1b1e;
    --c-outline: #71787e;
    --c-unfocused: #41484d;
  }

  &.eggplant {
    --c-primary: #d4bbff;
    --c-primary-text: #3c1c70;
    --c-primary-container: #533688;
    --c-primary-container-text: #ebdcff;

    --c-secondary: #cdc2db;
    --c-secondary-text: #342d40;
    --c-secondary-container: #4b4358;
    --c-secondary-container-text: #eadef7;

    --c-tertiary: #f1b7c4;
    --c-tertiary-text: #4a252f;
    --c-tertiary-container: #643b46;
    --c-tertiary-container-text: #ffd9e0;

    --c-bg: #1d1b1e;
    --c-surface: #232225;
    --c-text: #e6e1e6;
    --c-outline: #948f99;
    --c-unfocused: #cbc4cf;
  }

  &.blackberry {
    --c-primary: #7e3db9;
    --c-primary-text: #ffffff;
    --c-primary-container: #f1dbff;
    --c-primary-container-text: #2d0050;

    --c-secondary: #665a6f;
    --c-secondary-text: #ffffff;
    --c-secondary-container: #edddf6;
    --c-secondary-container-text: #211829;

    --c-tertiary: #805157;
    --c-tertiary-text: #ffffff;
    --c-tertiary-container: #ffd9dc;
    --c-tertiary-container-text: #321016;

    --c-bg: #f8f1fc;
    --c-surface: #ffffff;
    --c-text: #1d1b1e;
    --c-outline: #7c757e;
    --c-unfocused: #4a454d;
  }

  &.bubblegum {
    --c-primary: #ac009d;
    --c-primary-text: #ffffff;
    --c-primary-container: #ffd7f1;
    --c-primary-container-text: #390033;

    --c-secondary: #6f5867;
    --c-secondary-text: #ffffff;
    --c-secondary-container: #f9daed;
    --c-secondary-container-text: #271623;

    --c-tertiary: #815342;
    --c-tertiary-text: #ffffff;
    --c-tertiary-container: #ffdbcf;
    --c-tertiary-container-text: #321206;

    --c-bg: #fbeefa;
    --c-surface: #ffffff;
    --c-text: #1f1a1d;
    --c-outline: #80747b;
    --c-unfocused: #4f444a;
  }

  &.beetroot {
    --c-primary: #a7373a;
    --c-primary-text: #ffffff;
    --c-primary-container: #ffdad8;
    --c-primary-container-text: #410006;

    --c-secondary: #775655;
    --c-secondary-text: #ffffff;
    --c-secondary-container: #ffdad8;
    --c-secondary-container-text: #2c1514;

    --c-tertiary: #735a2e;
    --c-tertiary-text: #ffffff;
    --c-tertiary-container: #ffdeaa;
    --c-tertiary-container-text: #271900;

    --c-bg: #fbf1f5;
    --c-surface: #ffffff;
    --c-text: #201a1a;
    --c-outline: #857372;
    --c-unfocused: #534342;
  }

  &.orange {
    --c-primary: #ffa500;
    --c-primary-text: #473100;
    --c-primary-container: #ffb95c;
    --c-primary-container-text: #462a00;

    --c-secondary: #dfc493;
    --c-secondary-text: #3f2d17;
    --c-secondary-container: #57432b;
    --c-secondary-container-text: #fcdebc;

    --c-tertiary: #bacd9f;
    --c-tertiary-text: #ffffff;
    --c-tertiary-container: #3c4c28;
    --c-tertiary-container-text: #d6e9b9;

    --c-bg: #1d1e22;
    --c-surface: #292b31;
    --c-text: #e2e1dd;
    --c-outline: #9c8e80;
    --c-unfocused: #d4c4b5;
  }

  &.lemon {
    --c-primary: #676000;
    --c-primary-text: #ffffff;
    --c-primary-container: #f5e633;
    --c-primary-container-text: #1f1c00;

    --c-secondary: #635f41;
    --c-secondary-text: #ffffff;
    --c-secondary-container: #eae3be;
    --c-secondary-container-text: #1e1c05;

    --c-tertiary: #406653;
    --c-tertiary-text: #ffffff;
    --c-tertiary-container: #c1ecd4;
    --c-tertiary-container-text: #002114;

    --c-bg: #fefaf5;
    --c-surface: #fef8e1;
    --c-text: #1d1c16;
    --c-outline: #7a7768;
    --c-unfocused: #49473a;
  }
}
