@import '../../../styles/colors.module.scss';

.button {
  background: none;
  color: var(--c-text);
  border: 2px solid transparent;
  border-radius: 24px;
  transition: all 400ms;

  &--md {
    font-size: 1.6rem;
    padding: 4px 8px;
  }

  &--lg {
    font-size: 2rem;
    padding: 4px 12px;
  }

  &:active,
  &:focus,
  &:focus-visible {
    border-radius: 8px;
  }

  &:hover {
    cursor: pointer;
  }

  &--elevated {
    box-shadow: var(--e-1);

    &:hover {
      box-shadow: var(--e-2);
    }
  }
}

@each $k, $v in $colors-map {
  .button--#{$k}.button--regular {
    color: #{$v};

    &:hover,
    &:active,
    &:focus-visible {
      background-color: mix($v, #fff, 25%);
      color: mix($v, #000, 50%);
    }
    &:disabled {
      cursor: not-allowed;
      background-color: transparent;
      color: mix($v, #999, 30%);
    }
  }

  .button--#{$k}.button--filled {
    background-color: #{$v};

    @if $k == 'default' {
      &:hover {
        background-color: lighten($v, 30%);
      }
    } @else {
      &:hover {
        background-color: darken($v, 10%);
      }
    }

    &:disabled {
      background-color: mix($v, #999, 30%);
      cursor: not-allowed;
    }
  }

  .button--#{$k}.button--outlined {
    color: #{$v};
    border-color: #{$v};

    &:hover {
      border-color: darken($v, 20%);
      background-color: #{$v};
      color: var(--c-surface);
    }

    &:disabled {
      border-color: mix($v, #999, 30);
      color: mix($v, #999, 30);
      background-color: transparent;

      cursor: not-allowed;
    }
  }
}

.button--primary.button {
  &--regular {
    color: var(--c-primary);

    &:hover,
    &:active,
    &:focus-visible {
      background-color: var(--c-primary-container);
      color: var(--c-primary-container-text);
    }
    &:disabled {
      cursor: not-allowed;
      background-color: transparent;
      color: #999;
    }
  }

  &--filled {
    background-color: var(--c-primary);
    color: var(--c-primary-text);

    &:hover {
      background-color: var(--c-primary-container);
      color: var(--c-primary-container-text);
    }

    &:disabled {
      background-color: #999;
      cursor: not-allowed;
    }
  }

  &--outlined {
    color: var(--c-primary);
    border-color: var(--c-primary);

    &:hover {
      background-color: var(--c-primary);
      color: var(--c-primary-text);
    }

    &:disabled {
      border-color: #999;
      color: #999;
      background-color: transparent;

      cursor: not-allowed;
    }
  }
}

.button--primary-alt.button {
  &--regular {
    color: var(--c-primary-container-text);

    &:hover,
    &:active,
    &:focus-visible {
      color: var(--c-text);
      background-color: var(--c-bg);
    }

    &:disabled {
      cursor: not-allowed;
      background-color: transparent;
      color: #999;
    }
  }

  &--filled {
    background-color: var(--c-primary-container-text);
    color: var(--c-primary-container);

    &:hover {
      background-color: var(--c-primary);
      color: var(--c-primary-text);
    }

    &:disabled {
      background-color: #999;
      cursor: not-allowed;
    }
  }

  &--outlined {
    color: var(--c-primary-container-text);
    border-color: var(--c-primary-container-text);

    &:hover {
      background-color: var(--c-primary-container-text);
      color: var(--c-primary-container);
    }

    &:disabled {
      border-color: #999;
      color: #999;
      background-color: transparent;

      cursor: not-allowed;
    }
  }
}

.button--secondary.button {
  &--regular {
    color: var(--c-secondary-container-text);

    &:hover,
    &:active,
    &:focus-visible {
      background-color: var(--c-secondary-container-text);
      color: var(--c-secondary-container);
    }
    &:disabled {
      cursor: not-allowed;
      background-color: transparent;
      color: #999;
    }
  }

  &--filled {
    background-color: var(--c-secondary-container);
    color: var(--c-secondary-container-text);

    &:hover {
      background-color: var(--c-secondary-container-text);
      color: var(--c-secondary-container);
    }

    &:disabled {
      background-color: #999;
      cursor: not-allowed;
    }
  }

  &--outlined {
    color: var(--c-secondary-container-text);
    border-color: var(--c-secondary-container-text);

    &:hover {
      background-color: var(--c-secondary);
      color: var(--c-secondary-text);
    }

    &:disabled {
      border-color: #999;
      color: #999;
      background-color: transparent;

      cursor: not-allowed;
    }
  }
}

.button--secondary-alt.button {
  &--regular {
    color: var(--c-secondary-text);

    &:hover,
    &:active,
    &:focus-visible {
      background-color: var(--c-secondary-container);
      color: var(--c-secondary-container-text);
    }
    &:disabled {
      cursor: not-allowed;
      background-color: transparent;
      color: #999;
    }
  }

  &--filled {
    background-color: var(--c-secondary);
    color: var(--c-secondary-text);

    &:hover {
      background-color: var(--c-secondary-container-text);
      color: var(--c-secondary-container);
    }

    &:disabled {
      background-color: #999;
      cursor: not-allowed;
    }
  }

  &--outlined {
    color: var(--c-secondary-text);
    border-color: var(--c-secondary-text);

    &:hover {
      background-color: var(--c-secondary);
      color: var(--c-secondary-text);
    }

    &:disabled {
      border-color: #999;
      color: #999;
      background-color: transparent;

      cursor: not-allowed;
    }
  }
}

.button--tertiary.button {
  &--regular {
    color: var(--c-tertiary);

    &:hover,
    &:active,
    &:focus-visible {
      background-color: var(--c-tertiary-container);
      color: var(--c-tertiary-container-text);
    }
    &:disabled {
      cursor: not-allowed;
      background-color: transparent;
      color: #999;
    }
  }

  &--filled {
    background-color: var(--c-tertiary);
    color: var(--c-tertiary-text);

    &:hover {
      background-color: var(--c-tertiary-container);
      color: var(--c-tertiary-container-text);
    }

    &:disabled {
      background-color: #999;
      cursor: not-allowed;
    }
  }

  &--outlined {
    color: var(--c-tertiary);
    border-color: var(--c-tertiary);

    &:hover {
      border-color: var(--c-tertiary);
      background-color: var(--c-tertiary);
      color: var(--c-tertiary-text);
    }

    &:disabled {
      border-color: #999;
      color: #999;
      background-color: transparent;

      cursor: not-allowed;
    }
  }
}

.button--default.button {
  &--regular {
    color: var(--c-text);

    &:hover,
    &:active,
    &:focus-visible {
      background-color: var(--c-text);
      color: var(--c-bg);
    }
    &:disabled {
      cursor: not-allowed;
      background-color: transparent;
      color: #999;
    }
  }

  &--filled {
    background-color: var(--c-text);
    color: var(--c-bg);
    &:hover {
      background-color: var(--c-bg);
      color: var(--c-text);
      border-color: var(--c-text);
    }

    &:disabled {
      background-color: #999;
      cursor: not-allowed;
    }
  }

  &--outlined {
    color: var(--c-text);
    border-color: var(--c-text);

    &:hover {
      background-color: var(--c-text);
      color: var(--c-bg);
    }

    &:disabled {
      border-color: #999;
      color: #999;
      background-color: transparent;

      cursor: not-allowed;
    }
  }
}

.button--light.button {
  &--regular {
    color: white;

    &:hover,
    &:active,
    &:focus-visible {
      background-color: white;
      color: black;
    }
    &:disabled {
      cursor: not-allowed;
      background-color: transparent;
      color: #999;
    }
  }

  &--filled {
    background-color: white;
    color: black;
    &:hover {
      background-color: black;
      color: white;
      border-color: white;
    }

    &:disabled {
      background-color: #999;
      cursor: not-allowed;
    }
  }

  &--outlined {
    color: white;
    border-color: white;

    &:hover {
      background-color: white;
      color: black;
    }

    &:disabled {
      border-color: #999;
      color: #999;
      background-color: transparent;

      cursor: not-allowed;
    }
  }
}

.button--dark.button {
  &--regular {
    color: black;

    &:hover,
    &:active,
    &:focus-visible {
      background-color: black;
      color: white;
    }
    &:disabled {
      cursor: not-allowed;
      background-color: transparent;
      color: #999;
    }
  }

  &--filled {
    background-color: black;
    color: white;
    &:hover {
      background-color: white;
      color: black;
      border-color: black;
    }

    &:disabled {
      background-color: #999;
      cursor: not-allowed;
    }
  }

  &--outlined {
    color: black;
    border-color: black;

    &:hover {
      background-color: black;
      color: white;
    }

    &:disabled {
      border-color: #999;
      color: #999;
      background-color: transparent;

      cursor: not-allowed;
    }
  }
}
