@import '../../../styles/colors.module.scss';

$colors: (
  'primary': $color-primary,
  'danger': $color-danger,
  'info': $color-info,
  'success': $color-success,
  'warning': $color-warning,
  'default': black,
);

.button {
  padding: 4px 8px;
  font-size: 2rem;
  background: none;
  color: white;
  border: 1px solid;
  border-radius: 24px;
  transition: all 400ms;

  &:active,
  &:focus,
  &:focus-visible {
    border-radius: 8px; //todo
  }

  &:hover {
    cursor: pointer;
  }
}

@each $k, $v in $colors {
  .button--#{$k}.button--filled {
    background-color: #{$v};

    &:hover {
      background-color: darken($v, 10%);
    }
  }

  .button--#{$k}.button--outline {
    border-color: darken($v, 10%);
    color: #{$v};

    &:hover {
      background-color: #{$v};
      color: white;
    }
  }
}
